/* CSS normalization */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
	/* Color Scheme */
	--black: #08080cff;
	--cultured: #edf2f4ff;
	--imperial-red: #ef233cff;
	--amaranth-red: #d90429ff;

	/* Font Scheme */
	--inter: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;

	--albert-sans: 'Albert Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

/* ------------------------------------------------------------ */
/* BASE ELEMENT STYLING */
/* ------------------------------------------------------------ */

html,
body {
	padding: 0;
	margin: 0;
	/* overflow-x: hidden !important; */
	/* overflow-y: hidden !important; */
	font-family: var(--albert-sans);
}

* {
	box-sizing: border-box;
	font-size: 16px;
}

a,
.nav-link {
	font-family: var(--inter);
	text-decoration: none;
	color: var(--imperial-red);
}

.nav-link:hover {
	color: var(--amaranth-red);
}
